@font-face {
    font-family: "Gotham";
    src: url(GothaProMed.otf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IntroBold";
    src: url(Intro-Bold.otf);
    font-weight: 500;
    font-style: normal;
}

@keyframes spin {
    50% { content: "Выбери свое будущее"; }
    100% { content: "Revolution"; }
}

#spin:after {
    content:"";
    animation: spin 2s linear infinite;
}


@-webkit-keyframes changeLetter {
    0% {
        content: "Выбери свое будущее";
    }
    50% {
        color: white;
    }
    100% {
        content: "Revolution";
    }
}
@keyframes changeLetter {
    0% {
        content: "Выбери свое будущее";
    }
    50% {
        color: white;
    }
    100% {
        content: "Revolution";
    }
}
.element {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 100vh;
}
.element:after {
    -webkit-animation: changeLetter 3s linear infinite alternate;
    animation: changeLetter 3s linear infinite alternate;
    display: block;
    content: "A";
    font-size: 80px;
}


.page-leftbar__login {
    padding: 9px;
    margin: 15px 20px;
    border-radius: 15px;
    background: rgba(0,0,0,0.15);
    -webkit-transition: .3s;
    transition: .3s;
}

.wikiSubHeader {
    font-weight: 600;
    font-size: 21px;
    font-family: IntroBold;
}

div#terms_box_content {
    color: white;
}

li.top-people, li.top-people:hover, li.top-people:hover a, li.top-people a:active, li.top-people a:focus {
    background: #e98404;
    background: -webkit-gradient(linear, left top, left bottom, from(#e98404), to(#ffc93e));
    background: linear-gradient(#e98404 0%, #ffc93e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e98404', endColorstr='#ffc93e',GradientType=0 );
}

a.tray-notication {
    position: relative;
}

div.image-block {
    background-image: url(http://bl.2dsd.ru/new/assets/img/2-layers.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

li.bl_button, li.bl_button:hover {
    display: block;
    width: 85%;
    margin: 10px auto;
    text-align: center;
    border-radius: 5px;
    background: #fea623!important;
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #fea623), color-stop(100%, #ece922))!important;
    background: linear-gradient(45deg, #fea623 0%, #ece922 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea623', endColorstr='#ece922', GradientType=1 )!important;
}

div.slide img {
    max-width: 100%;
    width: 100%;
}

header.navbar.bg-dark {
    background: transparent!important;
}

li.bl_button a, li.bl_button a span {
    color: #704800;
}

li.bl_button a span.sidebar-title {
    padding: 0;
}

span.logo-text {
    display: block;
    float: right;
    width: 70%;
    line-height: 18px;
    font-size: 12px;
    margin-top: 8px;
    font-weight: bold;
}

a.tray-notication span {
    position: absolute;
    top: 7px;
    right: 3px;
    padding: 5px!important;
    line-height: 5px;
}

li.header-li {
    background: rgba(0, 0, 0, 0.3);
}

li.top-people:hover {
    background: transparent;
}
li.top-places {
    padding: 0 25px;
    background-image: url(http://best-locations.2dsd.ru/img/city-bg.png);
    background-position: center;
    background-size: cover;
}
li.top-places span {
    line-height: 60px;
    color: white;
    cursor: pointer;
}

li.top-places img {

}
li.top-places span:first-child {
    font-weight: bold;
}

.sidebar-menu > li:hover {
    background: rgba(0, 0, 0, 0.3);
}

a.page-leftbar__login-wrap span {
    position: relative;
    left: 40px;
}

.page-leftbar__login:hover {
    background: rgba(0,0,0,0.3);
}

a.page-leftbar__login-wrap {
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

a.page-leftbar__login-wrap:hover {
    text-decoration: none;
    color: #fff;
}

.page-leftbar__login-wrap {
    position: relative;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-leftbar__login__avatar {
    position: relative;
    z-index: 1;
    width: 36px;
    height: 36px;
    padding: 0 7.5px;
    border-radius: 35%;
    background-color: #272C36;
    -webkit-transition: .3s;
    transition: .3s;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.page-leftbar__login__avatar-border {
    position: absolute;
    top: -3px;
    left: -3px;
    border-radius: 35%;
    width: 42px;
    height: 42px;
    z-index: 0;
    background: -webkit-gradient(left top, right top, color-stop(0%, #3883f5), color-stop(33%, #fc2f2f), color-stop(66%, #ffdc40), color-stop(100%, #09de93));
    background: -webkit-gradient(linear, left top, right top, from(#3883f5), color-stop(33%, #fc2f2f), color-stop(66%, #ffdc40), to(#09de93));
    background: linear-gradient(to right, #3883f5 0%, #fc2f2f 33%, #ffdc40 66%, #09de93 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3883f5', endColorstr='#09de93', GradientType=1 );
}

.page-leftbar__login__avatar img {
    width: 100%;
}

div.registration h1.reg-heading, div.registration span.reg-text {
    padding-left: 0;
}


h1.reg-heading {
    color: white;
    letter-spacing: 1px;
    font-family: IntroBold;
    padding-left: 20px;
}
span.reg-text {
    color: white;
    display: block;
    padding: 5px 0;
    padding-left: 20px;
}
input.reg-input {
    display: block;
    width: 300px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    font-size: 17px;
    margin-top: 15px;
}
input.reg-input:focus, select.reg-select:focus {
    outline: none;
    border-bottom: 1px solid #666;
}
span.form-label {
    display: block;
    margin-top: 19px;
    font-size: 13px;
    margin-bottom: 5px;
}
select.reg-select {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    font-size: 17px;
}
select.reg-select:first-child {
    margin-left:0;
}
div.registration {
    padding-left: 75px;
}
div.registration.first {
    display: block;
}
div.registration.second {
    display: none;
}
span.reg-button, a.reg-button {
    display: block;
    padding: 10px 15px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
span.reg-button:hover, a.reg-button:hover {
    opacity: 0.8;
}
span.reg-button.back {
    background-color: #39404e;
}
span.reg-button.next, a.reg-button.next {
    background: #23D6FE;
    background: linear-gradient(45deg, #54f 0%, #23D6FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2387', endColorstr='#ff7618',GradientType=1 );
}
div.reg-buttons {
    margin-top: 20px;
}

body.sb-l-m #sidebar_left .login-text {
    display: none;
}
body.sb-l-m #sidebar_left .page-leftbar__login__avatar {
    width:30px;height:30px;
}
body.sb-l-m #sidebar_left .page-leftbar__login__avatar-border {
    width:36px;height:36px;
}
body.sb-l-m #sidebar_left .page-leftbar__login {
    margin:15px -1px;
}

div.slide-text, div.slide-content {
    font-family: "IntroBold";
}

div.slide-text span, .slide-content span {
    color: white;
    font-weight: bold;
    letter-spacing: 0.72px;
    line-height: 18px;
}
.slide.first .slide-text span:last-child {
    display: block;
    padding-left: 25px;
}
.slide.first .slide-text {
    position: absolute;
    font-size: 32px;
    left: 65px;
}

div.slide.second .slide-text {
    position: absolute;
    top: 65px;
    left: 50px;
    font-size: 32px;
}

div.slide.second .slide-text span:first-child {
    letter-spacing: 2px;
}

div.slide.second .slide-text span:last-child {
    display: block;
    font-family: Gotham;
    font-size: 12px;
}

div.slide.second .slide-content {
    position: absolute;
    bottom: 30px;
    width: 100%;
    text-align: center;
    font-size: 23px;
}
div.slide.second .slide-content .text {
    font-size: 17px;
    display: block;
    padding-bottom: 25px;
}

div.slide.third {
    padding-bottom: 35px;
}
div.slide.third .slide-text {
    text-align: center;
    font-size: 32px;
    position: absolute;
    left: 50%;
    margin-left: -142px;
    top: 30px;
}
div.slide.third .slide-content {
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 22px;
}
div.slide.third .slide-content .heading {
    display: block;
    color: yellow;
    font-size: 25px;
}

div.slide.third .slide-content .text {
    font-size: 17px;
    width: 50%;
    display: block;
    margin: 15px auto;
}

div.slide.four .slide-text {
    position: absolute;
    width: 100%;
    text-align: left;
    font-size: 32px;
    padding-left: 25px;
}

div.slide.four .slide-text span:last-child {
    display: block;
    font-size: 18px;
}

div.slide.five .slide-text {
    text-align: center;
    font-size: 32px;
    position: absolute;
    top: 30px;
    width: 100%;
}
div.slide.five .slide-text span:last-child {
    display: block;
    font-size: 23px;
}
div.slide.five .slide-content {
    position: absolute;
    bottom: 50%;
    text-align: center;
    font-size: 22px;
    margin-bottom: -100px;
    margin-left: -40px;
    width: 100%;
}

a.bl_button {
    padding: 10px 25px;
    color: #704800;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    background: #fea623;
    background: -webkit-gradient(left bottom, right top, color-stop(0%, #fea623), color-stop(100%, #ece922));
    background: linear-gradient(45deg, #fea623 0%, #ece922 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea623', endColorstr='#ece922', GradientType=1 );
    display: inline-block;
}

li.bl_button img {
    width: 26px;
    height: 26px;
    left: 50%;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    margin-left: -14px;
}

.menu-overlay {
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1050;
}

#content_wrapper {
    left:0!important;
}

div.image-block img {
    width: 100%;
}

div.updates-tabs {
    border-bottom: 2px solid #333333;
    padding-bottom: 20px;
    padding-left: 20px;
}

div.updates-tabs span {
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.3s;
    padding-bottom: 3px;
    margin: 5px 15px;
}

div.updates-tabs span:first-child {
    margin-left: 0;
}

div.updates-tabs span:hover, div.updates-tabs span.active {
    color: #fff;
    border-bottom: 1px solid white;
}

div.update-form {
    margin-top: 50px;
}

.updater-text textarea {
    width: 100%;
    background-color: #2c323c;
    color: white;
    border: none;
    padding: 5px 15px;
    padding-bottom: 20px;
    border-radius: 5px;
    min-height: 60px;
    min-width: 100%;
    max-width: 100%;
}

.updater-text textarea:focus {
    border: none;
    outline: none;
}

.updater-avatar img {
    background-color: #ccc;
    border-radius: 15px;
    min-height: 60px;
    width: 60px;
    margin: 0 auto;
    display: block;
}

.actions {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.actions img {
    height: 15px;
    display: inline-block;
    margin: 0 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: all 0.3s;
}

.actions img:hover {
    opacity: 1;
}

div.image-block-updates {
    background-image: url(http://bl.2dsd.ru/new/assets/img/car.png);
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: left;
    height: 300px;
}

div.image-block-updates .image-text {
    font-family: IntroBold;
    color: white;
    font-size: 17px;
}

div.update-buttons-text span {
    display: block;
    margin: 10px 0;
    font-size: 12px;
    color: white;
    padding: 10px 0;
    font-family: IntroBold;
    height: 40px;
}

.pt0 {
    padding-top: 0!important;
}

div.update-buttons {

}

div.update-buttons .update-button {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #e4f7ff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    color: #3467bb;
    font-family: IntroBold;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

div.update-textarea {
    min-width: 280px;
    max-width: 500px;
    height: auto;
    position: relative;
}

div.update-buttons .update-button:hover {
    background-color: #f8337c;
    color: white;
}
div.myPage-avatar, div.myPage-avatar img {
    max-width: 235px;
    max-height: 480px;
}

div.myPage-avatar img {
    width: 100%;
}

div.myPage-block {
    background: #262a30;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

div.myPage-info {
    max-width: 800px;
}

div.myPage-info__info {
    margin-top: 20px;
}

div.myPage-info .info-heading, .social-heading {
    font-weight: bold;
    text-transform: uppercase;
    font-family: IntroBold;
    font-size: 12px;
    color: #606468;
}

.social-heading {
    line-height: 34px;
}

div.myPage-views {
    background-image: url(http://bl.2dsd.ru/new/assets/img/views.png);
    position: absolute;
    background-repeat: no-repeat;
    padding-left: 25px;
    background-position: left center;
    color: #a0a0a0;
    font-family: IntroBold;
    right: 10px;
    top: 10px;
}

a.myPage-stat {
    background-image: url(http://bl.2dsd.ru/new/assets/img/shape.png);
    padding-left: 30px;
    color: white;
    background-repeat: no-repeat;
    background-position: left center;
    font-family: IntroBold;
    transition: all 0.3s;
    line-height: 30px;
}

.myPage-settings {
    line-height: 25px;
}

.myPage-friends {

}

.myPage-friends .headline{
    font-family: IntroBold;
    text-transform: uppercase;
    color: white;
}

.myPage-friends a.all{
    color: #dd9725;
    text-decoration: none;
    font-family: IntroBold;
    transition: all 0.3s;
}

.myPage-friends a.all:hover{
    color: #fff;
    border-bottom: 1px dashed #dd9725;
    text-decoration: none;
}

.myPage-friends .friends-list {

}

.myPage-friends .friends-list .friend-list_item {
    text-align: center;
    color: white;
    font-size: 11px;
    margin: 5px 0;
}

.myPage-friends .friends-list .friend-list_item img {
    width: 45px;
    cursor: pointer;
}

.myPage-friends .friends-list .friend-list_item .name {
    display: block;
}

@media (min-width: 1600px) {
    .myPage-friends .friends-list .friend-list_item img {
        width: auto;
        max-width: 55px;
    }
    .myPage-friends .friends-list .friend-list_item {
        font-size: 14px;
    }
}

a.myPage-stat:hover {
    text-decoration: none;
    opacity: 0.8;
}

a.social-link:hover {
    text-decoration: none;
}
img.social-img{
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.3s;
}
img.social-img:hover{
    opacity: 0.8;
}
img.vk{
    background-image: linear-gradient(180deg, #7b9fc1 0%, #45668e 100%);
}
img.fb{
    background-image: linear-gradient(180deg, #3b5998 0%, #5472b1 100%);
}
img.tw{
    background-image: linear-gradient(180deg, #00aced 0%, #0cb3f2 100%);
}

div.myPage-stat {
    padding: 10px 15px;
}

.myPage-stat__text {
    border-right: 1px solid #515459;
}

div.myPage-info span {
    display: block;
    color: white;
}

.myPage-info__name {
    font-size: 21px;
    color: white;
    display: block;
}

div.myPage-social {
    max-width: 800px;
}

div.myPage-feed {
    max-width: 800px;
}
div.myPage-feed .feed-tabs {

}
div.myPage-feed .feed-tabs .feed-tabs_tab {
    width: 85px;
    color: white;
    float: left;
    margin-right: 15px;
    text-align: left;
}
div.myPage-feed .feed-tabs .feed-tabs_tab .text{
    text-transform: uppercase;
    font-size: 10px;
    color: #606468;
    font-family: IntroBold;
}
div.myPage-feed .feed-tabs .feed-tabs_tab .tab-button {
    background-color: #3b4d59;
    font-family: IntroBold;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

div.myPage-feed .feed-tabs .feed-tabs_tab:hover .tab-button, div.myPage-feed .feed-tabs .feed-tabs_tab .tab-button.active {
    background-color: #db167e;
}


div.myPage-feed .feed-tabs .feed-tabs_tab .tab-button img {
    padding: 5px;
    background: #3f6272;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    display: inline-block;
    transition: all 0.3s;
}

div.myPage-feed .feed-tabs .feed-tabs_tab:hover .tab-button img, div.myPage-feed .feed-tabs .feed-tabs_tab .tab-button.active img {
background-color: #ff53ae;
}
div.myPage-feed .feed-tabs .feed-tabs_tab .tab-button span {
    margin-left: 5px;
    width: 35px;
    text-align: center;
    display: inline-block;
}

div.myPage-feed .feed-content {

}

div.myPage-feed .feed-content .feed-content_box {
    display: none;
}

div.myPage-feed .feed-content .feed-content_box .people-tabs {
    margin-bottom: 10px;
}

div.myPage-feed .feed-content .feed-content_box .people-tabs .people-tabs_tab {
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    transition: all 0.3s;
    padding-bottom: 3px;
    margin: 5px 15px;
}
div.myPage-feed .feed-content .feed-content_box .people-tabs .people-tabs_tab:first-child {
    margin-left: 0;
}

div.myPage-feed .feed-content .feed-content_box .people-tabs .people-tabs_tab:hover,
div.myPage-feed .feed-content .feed-content_box .people-tabs .people-tabs_tab.active {
    color: #fff;
    border-bottom: 1px solid white;
}

.people-items_item {
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin: 5px 10px;
    margin-left: 0;
}

.people-items_item .item-avatar {
    padding: 0;
}

.people-items_item .item-avatar img {
    width: 100%;
}

.people-items_item .item-info {

}

.people-items_item .item-info .name {
    color: #000;
    font-size: 15px;
    padding: 0;
}

.people-items_item .item-info .status {
    color: #000;
    font-size: 13px;
    padding: 0;
}

.item-action {
    background: #23D6FE;
    background: linear-gradient(45deg, #54f 0%, #23D6FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2387', endColorstr='#ff7618',GradientType=1 );
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    border: none;
    padding: 8px 5px;
    font-size: 12px;
    border-radius: 5px;
}

#people-tab {
    display: block;
}

#main.choose:before {
    background-image: url(http://bl.2dsd.ru/new/assets/img/pers-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.choose-headline {
    text-align: center;
    margin: 15px 0;
}
div.choose-headline span {
    font-size: 32px;
    text-transform: uppercase;
    color: white;
    font-family: IntroBold;
}
div.choose-blocks {
    max-width: 1240px;
    margin: 0 auto;
    float: none;
}
div.choose-blocks .choose-block {
    margin-right: 30px;
    max-width: 250px;
}
div.choose-blocks.choose-blocks_page .choose-block {
    max-width: 100%;
}
@media (max-width: 1440px) {
    div.choose-blocks {
        max-width: 960px;
        margin: 0 auto;
        float: none;
    }
}

.choose-modal {
    display: none;
}

div.choose-blocks .choose-block .image-wrapper {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
    padding-top: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    height: 255px;
}

div.choose-blocks .choose-block .image-wrapper.min img.main {
    /*margin-left: -70px;
    max-width: 140px;
    left: 50%;*/

    max-width: 140px;
    position: relative;
    bottom: -30px;
    max-height: 200px;
    height: auto;
    width: auto;
}

div.choose-blocks .choose-block .image-wrapper img.main {
    margin-left: -15px;
    width: 120%;
    position: absolute;
    left:0;
    bottom:0;
}
div.choose-blocks .choose-block .image-wrapper .image-wrapper__heading {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    width: 100%;
    background: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
    padding: 5px 15px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, 0.53);
    color: white;
    font-family: IntroBold;
}
div.choose-blocks .choose-block .image-wrapper .image-wrapper__heading.green,
div.choose-blocks .choose-block .text-wrapper .choose-button.green {
    background: #00cc5f;
}
div.choose-blocks .choose-block .image-wrapper .image-wrapper__heading.peach,
div.choose-blocks .choose-block .text-wrapper .choose-button.peach {
    background: #fc7568;
}
div.choose-blocks .choose-block .image-wrapper .image-wrapper__heading.dark,
div.choose-blocks .choose-block .text-wrapper .choose-button.dark {
    background: #252525;
}
div.choose-blocks .choose-block .image-wrapper .image-wrapper__heading.blue,
div.choose-blocks .choose-block .text-wrapper .choose-button.blue{
    background: #64a0ff;
}
div.choose-blocks .choose-block .image-wrapper .image-wrapper__heading.yellow,
div.choose-blocks .choose-block .text-wrapper .choose-button.yellow{
    background: #ffb41a;
}
div.choose-blocks .choose-block .image-wrapper .image-wrapper__heading img {
    position: relative;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin: 0;
    left: auto;
    bottom: auto;
}
div.choose-blocks .choose-block .image-wrapper img.unic-img {
    height: 215px;
    width: auto;
    left: 50%;
    margin-left: -90px;
}
div.choose-blocks .choose-block .text-wrapper {
    background: white;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
div.choose-blocks .choose-block .text-wrapper .text-wrapper__heading {
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: IntroBold;
    font-size: 21px;
    line-height: 25px;
    color: black;
}
div.choose-blocks .choose-block .text-wrapper .text-wrapper__text {
    text-align: center;
    display: block;
    padding: 2px 0;
    font-size: 12px;
    color: #414141;
}
div.choose-blocks .choose-block .text-wrapper .choose-input {
    text-align: center;
    border-radius: 5px;
    border: none;
    background: #f0f0f0;
    padding: 5px;
    margin: 5px auto;
    display: block;
    box-shadow: inset 0 0 10px #bebebe;
}
div.choose-blocks .choose-block .text-wrapper .choose-button {
    background: #5ea6ff;
    border: none;
    padding: 5px 20px;
    color: white;
    width: 95px;
    font-family: IntroBold;
    border-radius: 5px;
    display: block;
    text-align: center;
    margin: 10px auto;
    transition: all 0.3s;
}
div.choose-blocks .choose-block .text-wrapper .choose-button[disabled] {
    background: #a09fa0;
}
div.choose-blocks .choose-block .text-wrapper .choose-button:hover {
    box-shadow: 2px 2px 5px #666;
    text-decoration: none;
}

div.choose-blocks .choose-block .choose-block__bars {

}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar {
    padding: 0;
    margin-bottom: 5px;
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar {
    position: relative;
}

div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.blue {
background: #22acf0;
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.green {
    background:#00ecb7
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.yellow {
    background:#f3dd00
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.red {
    background:#f30032
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.purp {
    background:#9013fe
}

div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar:before {
    content: "";
    position: absolute;
    width: 35px;
    height: 20px;
    top: -5px;
    right: -5px;
}

div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.blue:before {
    background-image:url("http://bl.2dsd.ru/new/assets/img/users/light-blue.png");
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.green:before {
    background-image:url("http://bl.2dsd.ru/new/assets/img/users/light-green.png");
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.yellow:before {
    background-image:url("http://bl.2dsd.ru/new/assets/img/users/light-yellow.png");
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.red:before {
    background-image:url("http://bl.2dsd.ru/new/assets/img/users/light-red.png");
}
div.choose-blocks .choose-block .choose-block__bars .choose-block__bar .progress-bar.purp:before {
    background-image:url("http://bl.2dsd.ru/new/assets/img/users/light-purp.png");
}

div.choose-blocks .choose-block .choose-block__bars .choose-block__icon {
    height: 18px;
    margin-top: 5px;
    padding: 0;
    margin-left: -5px;
}

div.choose-blocks .choose-block .choose-block__bars .choose-block__heading {
    padding-left: 7px;
    padding-bottom: 2px;
    font-size: 12px;
    color: #121212;
}

div.choose-blocks .choose-block .choose-block__bars .choose-block__barWrapper {
    padding: 0;
}

.choose-block_more {

}

.choose-block_more-box {

}

.more-box_button {
    background: #ffffff;
    border: none;
    padding: 5px 20px;
    color: #252525;
    width: 95px;
    font-family: IntroBold;
    border-radius: 5px;
    display: inline-block;
    float: none;
    position: absolute;
    bottom: 10px;
    text-align: center;
    margin: 5px;
    transition: all 0.3s;
    right: 15px;
}

.more-box_button.back {
    right: 115px;
}

.more-box_button:hover {
    box-shadow: 2px 2px 5px #666;
    text-decoration: none;
    background: #252525;
    color: #ffffff;
}

.choose-block_more .choose-block_more-box .more-box__block {
    color: white;
    background: #262a30;
    padding: 15px;
    min-height: 420px;
    border-radius: 10px;
    padding-bottom: 50px;
}

.choose-block_more .choose-block_more-box .more-box__block h2 {
    font-family: IntroBold;
    text-transform: uppercase;
}
.choose-block_more .choose-block_more-box .more-box__block.green{
    background: #00cc5f;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-discounter.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.choose-block_more .choose-block_more-box .more-box__block.peach{
    background: #fc7568;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-popular.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.choose-block_more .choose-block_more-box .more-box__block.blue{
    background: #64a0ff;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-rich.png);
    background-size: contain;
    background-position: bottom left;
    background-repeat: no-repeat;
}
.choose-block_more .choose-block_more-box .more-box__block.dark{
    background: #252525;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-luxury2.png);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.choose-block_more .choose-block_more-box .more-box__block.yellow{
    background: #ffb41a;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-tourist.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.choose-block_more.company .choose-block_more-box .more-box__block.green{
    background: #00ca5f;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-food.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.choose-block_more.company .choose-block_more-box .more-box__block.peach{
    background: #fc7568;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-discounter.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.choose-block_more.company .choose-block_more-box .more-box__block.blue{
    background: #64a0ff;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-services2.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}
.choose-block_more.company .choose-block_more-box .more-box__block.yellow{
    background: #ffb41a;
    background-image: url(http://bl.2dsd.ru/new/assets/img/users/bg-fun2.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
}



.more-box__block p {
    max-width: 90%;
}

#main.map:before {
    background-image: url(http://bl.2dsd.ru/new/assets/img/map-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

div.map-filter {
    padding-top: 20px;
}

div.map-filter .map-filter__item {
    font-family: IntroBold;
    text-align: center;
    background: #cde1eb;
    border-radius: 5px;
    border: none;
    height: 40px;
    padding: 5px 10px;
    margin: 0 5px;
    float: left;
    color: black;
}

.filter-form {
    float: left;
}

div.map-filter select.map-filter__item {

}

div.map-filter .map-filter__item.day-night {

}

div.map-filter .map-filter__item.day-night span {
    line-height: 30px;
    cursor: pointer;
    border-right: 1px solid black;
    padding: 0 5px;
}

div.map-filter .map-filter__item.day-night span:last-child {
    border-right: none;
}

div.map-filter .icons {
 float: left;
}

div.map-filter .icons span {
transition: all 0.3s;
}

div.map-filter .icons span img {
    vertical-align: middle;
    height: 30px;
    width: 20px;
}

div.map-filter .icons span:hover {
cursor: pointer;
}

div.map-filter .map-filter__item.search, div.friends-search {
position: relative;
}
div.friends-search {
    background: #262a30;
    border-radius: 5px;
    padding: 5px;
    color: white;
    margin: 15px 20px;
}

div.friends-search input {
    border: none;
    background: transparent;
    padding: 5px;
    color: white;
}

div.friends-page .updates-tabs span {
font-size: 13px;
}
div.friends-page .updates-tabs span:hover > span {
    color: white;
}
div.friends-page .friends-list {

}

div.friends-page .friends-list .friends-list_item,
div.settings-page .settings-list .settings-list_box{
    background: #262a30;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

div.friends-page .friends-list .friends-list_item .friend-info_main {
    border-right: 1px solid;
}
div.friends-page .friends-list .friends-list_item .friend-info_main .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}
div.friends-page .friends-list .friends-list_item .friend-info_main .info-main_text {
    display: inline-block;
    vertical-align: middle;
}
div.friends-page .friends-list .friends-list_item .friend-info_main .info-main_text .status {
    display: block;
    color: white;
}
div.friends-page .friends-list .friends-list_item .friend-info_main .info-main_text .name {
    display: block;
    font-size: 20px;
    color: white;
    font-family: IntroBold;
}

div.friends-page .friends-list .friends-list_item .friend-info_info {
    border-right: 1px solid;
}

div.friends-page .friends-list .friends-list_item .friend-info_info .headline {
    text-transform: uppercase;
    font-family: IntroBold;
    text-align: left;
    color: #767676;
    width: 60px;
}
div.friends-page .friends-list .friends-list_item .friend-info_info span {
    line-height: 30px;
    display: inline-block;
    color: white;
}
div.friends-page .friends-list .friends-list_item .friend-info_action {
text-align: right;
}

div.friends-page .friends-list .friends-list_item .friend-info_action .info-action_button {
    background: #23D6FE;
    background: linear-gradient(45deg, #54f 0%, #23D6FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2387', endColorstr='#ff7618',GradientType=1 );
    margin-top: 15px;
    margin-right: 10px;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 5px;
}

div.friends-page .friends-filter {

}

div.friends-page .friends-filter .friends-filter_block,
div.settings-page .settings-menu .settings-menu_box {
    background: #262a30;
    padding: 15px;
    padding-bottom: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.friends-filter_block .option-primary input:checked + .checkbox,
.list-box_settings .option-primary input:checked + .checkbox
 {
    border-color: white;
}

.friends-filter_block .option > input,
.list-box_settings .option > input
{
    position: absolute;
    height: inherit;
    width: inherit;
    opacity: 0;
    left: 0;
}
.friends-filter_block label {
    display: block;
    margin-bottom: 0;
    height: 30px;
}
.list-box_settings label {
    display: block;
    margin-bottom: 0;
    height: 25px;
}

.friends-filter_block label span.text {
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
    min-height: 19px;
    vertical-align: bottom;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 10px;
    font-family: IntroBold;
}
.list-box_settings label span.text {
    cursor: pointer;
    transition: all 0.3s;
    display: inline-block;
    min-height: 19px;
    vertical-align: bottom;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #b8b8b8;
    font-size: 10px;
    font-family: Gotham;
}
.friends-filter_block label span.text:hover,
.list-box_settings label span.text:hover {
    color: white;
}
.friends-filter_block .checkbox {
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    background: transparent;
    display: inline-block;
    border: 1px solid #666666;
    border-radius: 5px;
    height: 21px;
    width: 21px;
    top: 4px;
}
.list-box_settings .checkbox {
    cursor: pointer;
    position: relative;
    margin-right: 5px;
    background: transparent;
    display: inline-block;
    border: 1px solid #666666;
    border-radius: 5px;
    height: 15px;
    min-height: 1px;
    width: 15px;
    top: 0;
    margin-top: 0;
}

.friends-filter_block .checkbox:before {
    position: absolute;
    top: 5px;
    left: 3px;
    width: 12px;
    height: 7px;
    border: solid #888;
    border-width: 0px 0 2px 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.list-box_settings .checkbox:before {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 8px;
    height: 4px;
    border: solid #888;
    border-width: 0px 0 2px 2px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.friends-filter_block .option-primary input:checked + .checkbox:before,
.list-box_settings .option-primary input:checked + .checkbox:before {
    content: "";
    border-color: white;
}

div.friends-page .updates-tabs span:last-child {
 margin:0;
}

div.map-filter .map-filter__item.search .filter-search{
    border: none;
    background: transparent;
    padding: 5px;
}

div.map-filter .map-filter__item.search .filter-search__button, .friends-search_button {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    background: url(http://bl.2dsd.ru/new/assets/img/users/search-icon.svg);
    width: 20px;
    height: 20px;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.map-filter .map-filter__item.add {
    transition: all 0.3s;
}

div.map-filter .map-filter__item.add-close .closed {
    display: none!important;
}

div.map-filter .map-filter__item.add .opened {
    display: none!important;
}

div.map-filter .map-filter__item.add:hover,div.map-filter .map-filter__item.add-close, div.map-filter .map-filter__item.add.opened, div.map-companyBox .map-companyBox__item.blured .item-heading:hover {
    background: #f81260;
    color: white;
}

div.map-companyBox {
    position: absolute;
    bottom: -50px;
    background: #ffffff;
    padding: 20px 0;
    height: 210px;
    transition: all 0.3s;
}
div.map-companyBox.opened {
    position: relative;
    bottom: 0;
    height: 100%;
    transition: all 0.3s;
}

div.map-filter.opened {
    background: white;
    padding: 20px 0;
}

.showAll {
    display: none;
}

div.map-companyBox.opened .showAll {
    display: block;
}

div.map-companyBox.opened .map-companyBox__item {
    background: #deecf2;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    margin: 0 10px;
}

.map-companyBox_headline,.sA-close {
    display: none;
}

div.map-companyBox.opened .map-companyBox_headline {
    display: block;
    font-size: 25px;
    color: #252525;
    font-family: IntroBold;
    padding-left: 25px;
    margin: 15px 0;
    padding-top: 15px;
    border-top: 1px dashed #e1e1e1;
}

div.map-companyBox .map-companyBox__item .item-avatar img {
    width: auto;
    max-height: 135px;
}
@media (min-width: 1600px) {
    div.map-companyBox.opened .map-companyBox__item .item-avatar img {
        width: auto;
        max-height: 175px;
    }

}

.item-rating {
    background: #4896b7;
    color: white;
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    float: none;
    clear: both;
    font-family: IntroBold;
}

.item-actions_action {
    text-align: center;
    color: #252525;
    font-family: IntroBold;
    padding: 10px;
}
@media (max-width: 1440px) {
    .item-actions_action img {
        width: 100%;
    }
}


div.map-companyBox .map-companyBox__item .item-heading {
    text-align: center;
    color: black;
    padding: 5px 0;
    font-size: 15px;
}

div.map-companyBox .map-companyBox__item .item-actions, div.map-companyBox .map-companyBox__item .item-rating {
    display: none;
}

div.map-companyBox.opened .map-companyBox__item .item-actions, div.map-companyBox.opened .map-companyBox__item .item-rating {
    display: block;
}

div.map-companyBox .map-companyBox__item.blured .item-heading {
    text-align: center;
    color: black;
    padding: 5px 0;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    background: #cde1eb;
    width: 90px;
    font-size: 11px;
    height: 35px;
    left: 50%;
    border-radius: 10px;
    margin-left: -45px;
    line-height: 25px;
    font-family: IntroBold;
    cursor: pointer;
    transition: all 0.3s;
}

div.mapPage, section.mapPage {
    height: 100%;
    padding-top: 20px!important;
}

div.map-addCompany {
    background: #262a30;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
    display: none;
    z-index: 999;
    position: absolute;
    top: 80px;
    box-shadow: 2px 2px 10px #595959;
}

.map-addCompany__heading {
    display: block;
    font-size: 21px;
    color: white;
    font-family: IntroBold;
}

.map-addCompany__text {
    max-width: 75%;
    display: block;
    padding: 15px;
    padding-left: 0;
    color: white;
}

.addCompany__field {

}

.addCompany__field label {
    color: #9c9c9c;
}

.addCompany__field input {
    width: 100%;
    background: #262a30;
    font-size: 16px;
    color: white;
    border: none;
    border-bottom: 1px dotted #878787;
}

.addCompany-submit {
    background: #23D6FE;
    background: linear-gradient(45deg, #54f 0%, #23D6FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2387', endColorstr='#ff7618',GradientType=1 );
    margin-top: 15px;
    margin-right: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#videoPop-up {
    display: block;
    width: 320px;
    height: 240px;
    background: transparent;
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    left: 50%;
    margin-left: -160px;
}

.video-desktop {
    background-size: cover;
    background-position: center;
    border: 10px solid #12b0e1;
    background: #12b0e1;
    border-radius: 15px;
    position: absolute;
    top: 80px;
    z-index: 1137;
    width: 100%;
    max-width: 720px;
    left: 50%;
    margin-left: -300px;
}

.video-desktop video {
    max-width: 100%;
    margin-top: 5px;
}
.video-desktop button {
    background: #12b0e1;
    border: none;
    color: white;
    border-top-right-radius: 10px;
    position: absolute;
    bottom: -1px;
    left: -1px;
}
.video-overlay {
    display: none;
    position: fixed;
    width: 100%;
    z-index: 1041;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
}
.video-overlay.active {
    display: block;
}

#videoPop-up_close i {
    font-size: 30px;
    color: #12b0e1;
    position: absolute;
    right: 25px;
    top: 15px;
    cursor: pointer;

}

div.top-page .updates-tabs {
    border-bottom: none;
    padding-bottom: 20px;
    padding-left: 20px;
}

div.top-page .updates-tabs span {
    margin: 5px 10px;
}
div.top-page .updates-tabs span:first-child {
    margin-left: 0;
}
div.top-page .places-tabs {
    border-left: 1px solid;
    padding-left: 15px;
}

img.top-action {
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.3s;
    border: 2px solid transparent;
    border-radius: 50%;
}

img.top-action:hover {
    border: 2px solid white;
    border-radius: 50%;
}

div.tag-container span.tm-tag span,div.tag-container span.tm-tag {
    display: inline-block;
}

div.tag-container span.tm-tag{
    background: #414959;
    background: -webkit-gradient(linear, left top, left bottom, from(#414959), to(#000));
    background: linear-gradient(to bottom, #535c6e 0%, #343434 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414959', endColorstr='#000000',GradientType=0 );
}

textarea.edit-text {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    color: white;
    font-size: 14px;
    overflow: hidden;
}

select.edit-select, input.edit-input  {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    font-size: 14px;
    height: 30px;
    padding: 0;
    color: #fff;
}

label.edit-upload {
    position: relative;
    width: 100%;
}

label.edit-upload .button {
    position: absolute;
    right: 0;
    height: 100%;
    width: 30%;
    text-align: center;
    line-height: 30px;
    background: #414959;
    background: -webkit-gradient(linear, left top, left bottom, from(#414959), to(#000));
    background: linear-gradient(to bottom, #535c6e 0%, #343434 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#414959', endColorstr='#000000',GradientType=0 );
}

label.edit-upload input.gui-file {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

label.edit-upload input.gui-input {
    height: 30px;
    width: 100%;
    padding-left: 20px;
}

img.edit-image {
    width: 100%;
    padding: 0 15px;
}

div.myPage-info.edit-page, div.myPage-social.edit-page {
    max-width: 100%;
}

button.edit-save {
    background: #23D6FE;
    background: linear-gradient(45deg, #54f 0%, #23D6FE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe2387', endColorstr='#ff7618',GradientType=1 );
    display: block;
    border: none;
    padding: 10px 15px;
    text-align: center;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

label.edit-upload .field-icon {
    position: absolute;
    left: 5px;
    top: 5px;
}

.tm-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
    padding: 0;
    color: white;
    font-size: 14px;
}

.list-box_headings span {
    font-family: IntroBold;
    text-transform: uppercase;
    font-size: 12px;
}

.settings-menu_box ul {
    padding: 0;
    text-align: left;
}

.settings-menu_box ul li {
    list-style: none;
    font-family: Gotham;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}

.settings-menu_box ul li span {
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    padding-bottom: 3px;
    cursor: pointer;
}

.settings-menu_box ul li:hover span, .settings-menu_box ul li.active span {
    border-bottom: 1px solid white;
    color: white;
}

button.settings-button {
    background-image: linear-gradient(270deg, #ff5858 0%, #f09819 100%);
    border: none;
    color: white;
    font-family: Gotham;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 115px;
}

button.settings-button.ml95 {
    margin-left: 95px;
}

input.settings-input {
    background: #1a1d21;
    border: 1px solid #292c30;
    border-radius: 5px;
    margin: 5px 0;
    width: 200px;
    padding-left: 15px;
    color: white;
}

.password-reset_block {
    margin-bottom: 15px;
    position: relative;
}

.password-reset_block label {
    color: #b8b8b8;
    font-family: Gotham;
    font-size: 11px;
    height: auto;
}

span.input-placeholder {
    position: absolute;
    color: white;
    bottom: 8px;
    left: 5px;
    font-size: 11px;
}

input.page-link {
    padding-left: 50px;
}

hr.settings-hr {
    width: 200px;
    background: #4a4e53;
    margin: 15px 0;
    height: 1px;
}

.list-box_settings .ui-slider .ui-slider-handle:before,
.list-box_settings .ui-slider .ui-slider-handle,
.list-box_settings .ui-slider .ui-slider-range {
    background-color: #f5a623;
    border-color: #f5a623;
    background-image: none;
}

.list-box_settings .ui-slider.ui-slider-horizontal {
    background: #666a6e;
    height: 1px;
    margin-top: 15px;
}
.list-box_settings .ui-slider .ui-slider-range {
    height: 3px;
    top: -1px;
}

div.list-box_settings .ui-slider .ui-slider-handle:before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    background-color: #262a30 !important;
    border-radius: 20px;
    z-index: 2;
    left: 1px;
    top: 1px;
}

div.list-box_settings .ui-slider .ui-slider-handle {
    height: 14px;
    width: 14px;
}

div.list-box_settings input.slider-countbox {
    background: #f5a623;
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: Gotham;
    font-size: 12px;
    width: 70px;
    border-radius: 5px;
}

#settings-security {
    display: none;
}

.notifications-list {

}

.notifications-list .notification-list_box {
    border-bottom: 2px solid #262b31;
    padding: 15px 0;
}

.notifications-list .notification-list_box .nl-box_user {

}

.notifications-list .notification-list_box .nl-box_user .avatar {
    max-width: 40px;
    display: inline-block;
}

.notifications-list .notification-list_box .nl-box_user .user-text {
    display: inline-block;
    vertical-align: top;
    color: white;
    padding-left: 10px;
}

.notifications-list .notification-list_box .nl-box_user .user-text .name {
    display: block;
    font-size: 15px;
}

.notifications-list .notification-list_box .nl-box_user .user-text .message {
    display: block;
    font-size: 11px;
    padding: 2px 0;
}

.notifications-list .notification-list_box .nl-box_user .user-text .date {
    display: inline-block;
    color: #87898d;
    font-size: 10px;
    padding: 0 5px;
    padding-left: 0;
    font-family: Gotham;
}

.notifications-list .notification-list_box .nl-box_action {

}

.notifications-list .notification-list_box .nl-box_action .action-target {

}

.notifications-list .notification-list_box .nl-box_action .action-item {
    text-align: right;
    background-image: linear-gradient(to right, #ffc93e 0%, #e98404 100%);
    padding: 7px 30px 5px 20px;
    float: right;
    color: #583904;
    font-family: Gotham;
    border-radius: 25px;
    width: 100px;
    height: 40px;
    font-size: 16px;
}

.notifications-list .notification-list_box .nl-box_action .action-item .action-item_box {
    background-repeat: no-repeat;
    background-size: contain;
}

.notifications-list .notification-list_box .nl-box_action .action-item .action-item_box.notify-1 {
    background-image: url(http://bl.2dsd.ru/new/assets/img/notify/notify-1.svg);
}
.notifications-list .notification-list_box .nl-box_action .action-item .action-item_box.notify-2 {
    background-image: url(http://bl.2dsd.ru/new/assets/img/notify/notify-2.svg);
}
.notifications-list .notification-list_box .nl-box_action .action-item .action-item_box.notify-3 {
    background-image: url(http://bl.2dsd.ru/new/assets/img/notify/notify-3.svg);
}
.notifications-list .notification-list_box .nl-box_action .action-item .action-item_box.notify-4 {
    background-image: url(http://bl.2dsd.ru/new/assets/img/notify/notify-4.svg);
}
.notifications-list .notification-list_box .nl-box_action .action-item .action-item_box.notify-5 {
    background-image: url(http://bl.2dsd.ru/new/assets/img/notify/notify-5.svg);
}
.notifications-list .notification-list_box .nl-box_action .action-item .action-item_box.notify-6 {
    background-image: url(http://bl.2dsd.ru/new/assets/img/notify/notify-6.svg);
}

.notifications-list .notification-list_box .nl-box_action .action-item .action-item_box span {
    display: block;
    line-height: 25px;
}


/*********************************/
/********* RESPONSIVE ************/
/*********************************/
@media (min-width: 320px) and (max-width: 768px) {
    div.update-form {
        margin-top: 0px;
    }

    div.image-block-updates {
        margin-top: 25px;
    }

    div.updates-tabs span {
        margin: 5px;
    }

    .col-xs-12.slide {
        padding: 0;
    }

    h1.reg-heading {
        margin-top: 5px;
        padding-left: 0;
    }
    span.reg-text,.updates-tabs  {
        padding-left: 0;
    }

    div.registration {
        padding-left: 0;
        padding-bottom: 50px;
    }

    .sb-l-o #sidebar_left {
        overflow: scroll!important;
    }

    .menu-overlay {
        opacity: 0;
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        z-index: 999;
    }

    .menu-overlay.active {
        display: block;
        opacity: 1;
    }

    header.navbar.bg-dark {
        background: black!important;
    }

    #sidebar_left {
        z-index: 999;
    }

    .slide {
        margin-bottom: 5px;
    }

    div.slide-text {
        position: absolute;
        top: 50%;
        margin-top: -25px;
        width: 100%;
        text-align: center;
        font-family: "IntroBold";
    }

    div.slide-text span {
        color: white;
        font-weight: bold;
        display: block;
        letter-spacing: 0.72px;
        line-height: 19px;
        font-family: "IntroBold";
        font-size: 23px;
    }

    div.slide.first {
        background-image: url('http://bl.2dsd.ru/new/assets/img/mobile-first.jpg');
        height: 730px;
        width: 100%;
        background-size: 150%;
        background-position: center;
        background-repeat: no-repeat;
    }

    div.slide.first div.slide-text {
        left: auto;
    }

    div.slide.first div.slide-text span:last-child {
        display: block;
    }

    div.slide.second {
        background-image: url('http://bl.2dsd.ru/new/assets/img/mobile-two.jpg');
        height: 410px;
        top: auto;
        width: 100%;
        background-size: 180%;
        background-position: top center;
        background-repeat: no-repeat;
    }
    div.slide.second div.slide-text {
        top: 50px;
        left: 0px;
        text-align: left;
        padding-left: 5px;
    }
    div.slide.second div.slide-text span:first-child {
        font-size: 28px;
        letter-spacing: 0.94px;
    }
    div.slide.second div.slide-text span:last-child {
        font-size: 15px;
        line-height: 22px;
        letter-spacing: 0.56px;
    }
    div.slide.second div.slide-content {
        text-align: center;
        position: absolute;
        bottom: -35px;
    }
    #sidebar_left {
        width: 260px;
    }

    .sb-l-c #sidebar_left {
        left: -260px;
        overflow: hidden;
    }
    div.slide.second div.slide-content span.heading {
        display: block;
        font-size: 22px;
        text-shadow: 0px 0px 2px #000;
        letter-spacing: 0.17px;
        line-height: 19px;
        display: block;
        text-align: center;
        padding: 5px 0;
        font-family: 'Gotham', sans-serif;
    }
    div.slide.second div.slide-content span.text{
        line-height: 19px;
        font-size: 15px;
        display: block;
        padding-bottom: 10px;
        font-family: "IntroBold";
        display: block;
        color: #fff;
        width: 230px;
        margin: 0 auto;
    }
    div.slide.second div.slide-content a.bl_button, div.slide.five div.slide-content a.bl_button {
        font-size: 15px;
        padding: 13px 26px;
    }

    div.slide.third {
        /*background-image: url('http://bl.2dsd.ru/new/assets/img/mobile-three.jpg');*/
        height: 435px;
        margin-top: 30px;
        top: auto;
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 35px;
        background-size: 150%;
        background-position: center;
        background-repeat: no-repeat;
    }
    div.video-mobile {
        margin: 25px;
        background-size: cover;
        background-position: center;
        border: 10px solid #12b0e1;
        border-radius: 15px;
        position: relative;
    }
    div.video-mobile video {
        max-width: 100%;
        margin-top: 5px;
    }
    button#play-Pause {
        background: #12b0e1;
        border: none;
        color: white;
        border-top-right-radius: 10px;
        position: absolute;
        bottom: -1px;
        left: -1px;
    }
    div.slide.third div.slide-text {
        top: 0;
        text-align: center;
        left: auto;
        margin-left: auto;
        margin-top: 35px;
        position: relative;
    }
    div.slide.third div.slide-text span {
        font-size: 27px;
        color: #fff;
        text-align: center;
        display: block;
        font-family: "IntroBold";
        text-transform: uppercase;
    }
    div.slide.third div.slide-content {
        text-align: center;
        position: relative;
        bottom: 0;
        margin: 0 auto;
        max-width: 320px;
        font-size: 16px;
        /* left: 50%; */
        /* margin-left: -160px; */
    }
    div.slide.third div.slide-content span.heading {
        font-family: "IntroBold";
        font-size: 22px;
        color: #F8E71C;
        letter-spacing: 0.5px;
        line-height: 21px;
        display: block;
    }
    div.slide.third div.slide-content span.text {
        font-family: "IntroBold";
        font-size: 15px;
        letter-spacing: 0.56px;
    }


    div.slide.four {
        background-image: url('http://bl.2dsd.ru/new/assets/img/mobile-four.jpg');
        height: 350px;
        width: 100%;
        top: auto;
        background-size: 180%;
        background-position: bottom center;
        background-repeat: no-repeat;
    }
    div.slide.four div.slide-text {
        top: 85px;
    }
    div.slide.four div.slide-text span:first-child {
        font-family: "IntroBold";
        font-size: 22px;
        color: #FFF;
        letter-spacing: 0.5px;
        line-height: 21px;
        display: block;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    div.slide.four div.slide-text span:last-child {
        font-family: "IntroBold";
        font-size: 14px;
        letter-spacing: 0.56px;
        max-width: 190px;
        display: block;
        margin: 0 auto;
    }

    div.slide.five {
        background-image: url('http://bl.2dsd.ru/new/assets/img/mobile-five.jpg');
        height: 260px;
        margin-top: 50px;
        width: 100%;
        top:auto;
        background-size: 180%;
        background-position: center;
        background-repeat: no-repeat;
    }
    div.slide.five div.slide-content a.bl_button {
        padding: 7px 30px;
    }
    div.slide.five div.slide-text {
        top: -5px;
    }
    div.slide.five div.slide-content {
        text-align: center;
        position: absolute;
        bottom: 15px;
        margin-bottom: 0;
        margin-left: 0;
        width: 100%;
    }
    div.slide.five div.slide-text span:first-child {
        font-family: "IntroBold";
        font-size: 22px;
        color: #FFF;
        letter-spacing: 0.5px;
        line-height: 21px;
        display: block;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    div.slide.five div.slide-text span:last-child {
        color: #fff;
        font-family: "IntroBold";
        font-size: 14px;
        letter-spacing: 0.56px;
        max-width: 200px;
        display: block;
        margin: 0 auto;
        line-height: 15px;
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    div.slide.second div.slide-content {
        bottom: 30px;
    }

    div.image-block, div.image-block img {
        max-height: 100px;
    }

    div.image-block img {
        width: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 375px) and (max-width: 424px) {
    div.slide.four div.slide-text {
        top: 60px;
    }

    div.image-block, div.image-block img {
        max-height: 125px;
    }

    div.image-block img {
        width: auto;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    div.slide.four {
        height: 400px;
    }
}

@media (max-width: 1680px) {
    div.friends-page .friends-list .friends-list_item .friend-info_main .info-main_text .name {
        font-size: 17px;
    }

    div.friends-page .friends-list .friends-list_item .friend-info_main .avatar {
        margin-right: 5px;
        width: 35px;
    }

    div.top-page .updates-tabs span {
        margin: 5px 5px;
    }

    div.friends-page .friends-list .friends-list_item .friend-info_info .headline {
        width: 50px;
    }
    div.friends-page .friends-list .friends-list_item .friend-info_info span {
        line-height: 21px;
    }

    div.friends-page .friends-list .friends-list_item .friend-info_info, div.friends-page.top-page .friends-list .friends-list_item .friend-info_action  {
        width: 33.33333333%!important;
    }

    div.friends-page .friends-list .friends-list_item .friend-info_action{
        width: 25%!important;
    }
    div.friends-page.top-page .friends-list .friends-list_item .friend-info_action {
        width: auto;
    }

    div.friends-page .friends-list .friends-list_item .friend-info_action .info-action_button {
        width: 115px;
        margin-top: 0;
    }

    div.friends-page .friends-list .friends-list_item .friend-info_action .info-action_button:last-child {
        margin-top: 5px;
    }
}
